@import 'tokens';

@font-face {
  font-family: 'Segoe UI';
  src: url('@/assets/fonts/SegoeUIVF.ttf');
  font-display: swap;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.25;
  color: #1b324a;
  // width: 100%;
}

.bg-dark {
  background-color: #1b324a;
}

.t-muted-dark {
  color: $faded;
}



.t-dark {
  color: $t-dark;
}

// borders

.blue-border-top {
  border-top: 1px solid $blue;

  &-xl {
    border-top: 4px solid $blue;
  }
}

.blue-border-bottom {
  border-bottom: 1px solid $blue;

  &-xl {
    border-bottom: 4px solid $blue;
  }
}

.icon {
  height: 1em;
  fill: currentColor;
  display: inline;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center center;
}
